<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
        </svg>
    </a>
</nav>

<div class="container inner-padded">
    <div class="row justify-content-center align-items-center" style="padding-bottom: 2em;">
        <h1 class="display-3">Welcome to myTunes</h1>
    </div>

    <div class="row justify-content-center align-items-center" style="padding-bottom: 1em;">
        <h2 class>Search for a track</h2>
    </div>
    <div class="row justify-content-center align-items-center" style="padding-bottom: 3em;">
        <form action="/search" class = "form-inline">
            <div class="form-group mb-2">
                <input type="text" class="form-control" name="term" placeholder="search for a track" />
                <input type="submit" value="search" class="btn btn-primary">
            </div>
        </form>
    </div>


        <div class="row">
        <div class="col-lg-4">
            <div class="h2" style="text-align: center">5 random artists</div>
            <div class="row-cols-1" th:each="art:${artists}">
                <div class="card shadow-lg p-2 mb-3 bg-white rounded">
                    <h5 class="card-title" style="text-align:center"  th:text="${art.getName()}"></h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="h2" style="text-align: center">5 random tracks</div>
                <div class="row-cols-1" th:each="tra:${tracks}">
                    <div class="card shadow-lg p-2 mb-3 bg-white rounded" >
                        <h5 class="card-title" style="text-align:center" th:text="${tra.getName()}"></h5>
                    </div>
                </div>
        </div>
        <div class="col-lg-4">
            <div class="h2" style="text-align: center">5 random genres</div>
            <div class="row-cols-1" th:each="gen:${genres}">
                <div class="card shadow-lg p-2 mb-3 bg-white rounded">
                    <h5 class="card-title" style="text-align:center"  th:text="${gen.getName()}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>