<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>myTunes</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg></a>
</nav>

<div class="container inner-padded">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 justify-content-center align-items-center" style="padding-bottom: 4em;" >
            <div class="h2" style="text-align: center; padding-bottom: 1em;">Tracks that match your search</div>
            <div class="row-cols-1" th:each="result:${results}">
                <div class="card shadow-lg p-2 mb-3 bg-white rounded" >
                    <h5 class="card-title" style="text-align: center" th:text="${result.getName()}"></h5>
                    <p class="card-text" style="text-align: center" th:text="'Artist: ' + ${result.getArtistName()}"></p>
                    <p class="card-text" style="text-align: center" th:text="'Album: ' + ${result.getAlbumName()}"></p>
                    <p class="card-text" style="text-align: center" th:text="'Genre: ' + ${result.getGenreName()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>